:root {
    --background: #121212;
    --principal: #fbf6e3; 
    --secondary: #ecadad;
}

.home{
    height: auto;

    position: relative;
}

.landing{
    min-width: 100vw;
    min-height: 100vh;

    position: relative;
}

.landing--text--container{
    display: grid;
    min-width: 100vw;

    position: absolute;

    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);

    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(5, 100px);
}

.landing--header{
    color: var(--principal);

    font-size: 90px;
    font-family: "Mulish";
    font-weight: 800;

    align-self: center;
}

.landing--text--1{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

.landing--text--2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.landing--text--3{
    grid-column-start: 11;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 4;
}

.landing--text--4{
    grid-column-start: 10;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 5;
}

.landing--img{
    width: 95%;
    height: 80%;
    object-fit: cover;

    margin: auto;
}

.landing--img--2{
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;

    object-position: 50% 50%;
    filter:brightness(.5);
}

.landing--img--3{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;

    object-position: 50% 50%;
    filter:brightness(.5);
}

.landing--text--about{
    position: absolute;

    min-width: 20vw;
    max-width: 30vw;

    text-align: right;

    right: 10vw;
    top: 80vh;

    color: var(--principal);
    font-size: 18px;
    font-family: "Space Mono";
}

.projects{
    padding: 10vh 0;

    background-color: var(--principal);
    min-width: 100vw;
    min-height: 100%;

    position: relative;
}

.projects--container{
    display: grid;
    min-width: 75vw;

    position: relative;

    margin-top: 10vh;

    margin: 0 10vw;

    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 500px);
}

.projects--container a{
    text-decoration: none;
}

.projects--element--1{
    border: solid 3px #121212;

    position: relative;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.projects--element--2{
    border: solid 3px #121212;

    position: relative;

    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.projects--element--3{

    position: relative;

    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

.projects--element--4{

    position: relative;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.projects--element--5{
    border: solid 3px #121212;

    position: relative;

    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.projects--element--6{
    border: solid 3px #121212;

    position: relative;

    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

.project--cva{
    color: var(--background);
    font-family: "Space Mono";
    font-size: 16px;

    margin: auto 25px;

    vertical-align: middle;

}

.project--technologies{
    margin: auto;
}

.project--technologies div{
    color: var(--background);
    font-family: "Space Mono";
    font-size: 16px;

    margin-bottom: 25px;
    margin-left: 25px;
    
}

.project--title{
    color: var(--background);
    font-family: "Mulish";
    font-weight: 800;
    font-size: 36px;

    margin: 5%;

}

.project--subtitle{
    color: var(--background);
    font-family: "Space Mono";
    font-size: 22px;

    margin: 5%;
}

.project--info{
    position: absolute;
    bottom: 0;

    margin: 5%;
}

.project--photo{
    max-width: 50%;

    object-fit: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: ease-in-out 0.35s;

    opacity: 0;
}

.projects--element:hover .project--photo{
    opacity: 1;
}

.projects--element:hover{
    cursor: pointer;
}

.project--role{
    color: var(--background);
    font-family: "Space Mono";

}

.project--date{
    color: var(--background);
    font-family: "Space Mono";

}

.project--live a{
    color: var(--background);
    font-family: "Space Mono";
    text-decoration: underline;
}

.project--live a:hover{
    cursor: pointer;
    color: var(--secondary);
}

.icon--techno{
    max-width: 25%;

    margin: 20px 5px;

    transition: linear 0.2s;
}

.contact{
    min-width: 100vw;
    min-height: 100vh;

    max-height: 100%;

    position: relative;
}

.contact--container{
    position: relative;

    padding-top: 15vh;
}

.contact--title{
    font-family: "Mulish";
    font-weight: 800;
    font-size: 110px;

    color: var(--principal);

    position: relative;
    text-align: center;
}

.contact--info--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    margin: 0 5vw;

    align-items: center;
}

.contact--mail{
    font-family: "Space Mono";
    font-size: 50px;
}

.contact--mail a{
    text-decoration: none;
    color: var(--principal);
    transition: linear 0.3s;

}

.contact--mail a:hover{
    color: var(--secondary);
}

.contact--links a{
    text-decoration: none;
    color: var(--principal);
    font-family: "Space Mono";
    transition: linear 0.3s;

    font-size: 28px;
}

.contact--links a:hover{
    color: var(--secondary);
}

.contact--animation{
    background-color: var(--principal);

    min-width: 100vw;
    min-height: 30vh;

    margin-top: 20vh;

    overflow: hidden;

    position: relative;
}

.border--animated{
    border: solid 3px #121212;
    background-color: transparent;

    position: absolute;

    min-width: 100vw;
    min-height: 30vh;
}