:root {
    --background: #121212;
    --principal: #424242; 
    --secondary: #fbf6e3;
}

body{
    background-color: var(--background);
}

.navbar{

    mix-blend-mode: unset !important;
    filter: unset !important;
}

.navbar--icon a{
    color: var(--secondary);

}

.navbar--btn a{
    color: var(--secondary);
}

.project--info--container{
    min-width: 100vw;

    padding-top: 10vh;
    position: relative;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.svg--circle {
  fill: var(--secondary);
  height: auto;
  max-width: 7.5vw;
  transform-origin: center;
  width: 60%;

  position: fixed;

  right: 2.5vw;
  bottom: 2.5vh;

  z-index: 99;
}

.svg--circle:hover{
    fill: var(--secondary);
}

circle {
    fill: transparent;
    stroke-width: 15px;
    stroke-dasharray: 471;
    stroke-dashoffset: 471;
    animation: clock-animation 3s infinite alternate;
  }
  @keyframes clock-animation {
    0% {
      stroke-dashoffset: 471;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

/*-----------------------------COLORS---------------------------------------*/

.tsmorales--principal{
    stroke: #0545A5;
}

.tsmorales--principal text{
    fill: #0545A5;
    font-family: 'Space Mono';
    stroke: none;
}

.tsmorales--secondary{
    stroke: #70819B;
}

.tsmorales--secondary text{
    fill: #70819B;
    font-family: 'Space Mono';
    stroke: none;
}

.tsmorales--background{
    stroke: #F7F6F6;
}

.tsmorales--background text{
    fill: #F7F6F6;
    font-family: 'Space Mono';
    stroke: none;
}

.photoport--principal{
    stroke: #82370e;
}

.photoport--principal text{
    fill: #82370e;
    font-family: 'Space Mono';
    stroke: none;
}

.photoport--secondary{
    stroke: #DE725C;
}

.photoport--secondary text{
    fill: #DE725C;
    font-family: 'Space Mono';
    stroke: none;
}

.photoport--background{
    stroke: #F2F1F1;
}

.photoport--background text{
    fill: #F2F1F1;
    font-family: 'Space Mono';
    stroke: none;
}

.ricardo--principal{
    stroke: #B31312;
}

.ricardo--principal text{
    fill: #B31312;
    font-family: 'Space Mono';
    stroke: none;
}

.ricardo--secondary{
    stroke: #EA906C;
}

.ricardo--secondary text{
    fill: #EA906C;
    font-family: 'Space Mono';
    stroke: none;
}

.ricardo--background{
    stroke: #F7F6F6;
}

.ricardo--background text{
    fill: #F7F6F6;
    font-family: 'Space Mono';
    stroke: none;
}

.rodolfo--principal{
    stroke: #3951AA;
}

.rodolfo--principal text{
    fill: #3951AA;
    font-family: 'Space Mono';
    stroke: none;
}

.rodolfo--secondary{
    stroke: #404E80;
}

.rodolfo--secondary text{
    fill: #404E80;
    font-family: 'Space Mono';
    stroke: none;
}

.rodolfo--background{
    stroke: #E5E5E5;
}

.rodolfo--background text{
    fill: #E5E5E5;
    font-family: 'Space Mono';
    stroke: none;
}


/*-----------------------------COLORS END---------------------------------------*/

.color--container{
    position: relative;
    color: var(--secondary);

    padding: 15vh 5vw;
}

.color--element{
    position: relative;
    text-align: center;
}

.color--title{
    color: var(--secondary);
    font-family: 'Mulish';

    font-weight: 800;
    font-size: 48px;

    text-align: center;
}

.font--container{
    position: relative;
    color: var(--secondary);

    padding: 15vh 5vw;
}

.font--title{
    color: var(--secondary);
    font-family: 'Mulish';

    font-weight: 800;
    font-size: 48px;

    text-align: center;
}

.font--size{
    font-size: 28px;
}

.two--fonts{
    padding-top: 10vh;
}

.three--fonts{
    padding-top: 2.5vh;
}

/*-----------------------------FONTS---------------------------------------*/

.tsmorales--font--1{
    color: var(--secondary);
    text-align: center;

    
    font-family: 'Bebas Neue';
}

.tsmorales--font--2{
    color: var(--secondary);
    text-align: center;

    
    font-family: 'Inter';
}

.photoport--font--1{
    color: var(--secondary);
    text-align: center;

    
    font-family: 'Abril Fatface';
}

.photoport--font--2{
    color: var(--secondary);
    text-align: center;

    
    font-family: 'Nothing you could do';
}

.photoport--font--3{
    color: var(--secondary);
    text-align: center;

    
    font-family: 'Nixie One';
}

.ricardo--font--1{
    color: var(--secondary);
    text-align: center;

    
    font-family: 'Roboto';
}

.ricardo--font--2{
    color: var(--secondary);
    text-align: center;
    
    font-family: 'Odibee Sans';
}

.rodolfo--font--1{
    color: var(--secondary);
    text-align: center;
    
    font-family: 'Gugi';
}

.rodolfo--font--2{
    color: var(--secondary);
    text-align: center;
    
    font-family: 'Jura';
}

.rodolfo--font--3{
    color: var(--secondary);
    text-align: center;

    
    font-family: 'Red hat display';
}
/*-----------------------------FONTS END---------------------------------------*/

.project--showcase{
    min-width: 100vw;
    min-height: 100vh;

    position: relative;

    padding-bottom: 25vh;
    
}

.project--img--fs{
    text-align: center;
}

.project--img--fs img{
    max-width: 80vw;
}

.project--img--flex{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.project--img--flex div img{
    max-width: 30vw;
}

/*
------------------------------RESPONSIVE------------------------------
*/
@media (max-width: 1050px) {
    .project--img--fs img{
        max-width: 80vw;
    }

    .project--img--flex div img{
        max-width: 30vw;
    }

    .font--container{
        padding: 2vh 5vw 10vh 5vw;
    }

    .color--container{
        padding: 2vh 5vw 10vh 5vw;
    }

    .project--showcase{
        padding-bottom: 40vh;
    }

    
}
@media (max-width: 780px) {
    .project--img--fs img{
        max-width: 80vw;
    }

    .project--img--flex div img{
        max-width: 70vw;
    }

    .svg--circle{
        max-width: 12.5vw;
    }
}
@media (max-width: 610px) {
    .project--img--fs img{
        max-width: 90vw;
    }

    .project--img--flex div img{
        max-width: 80vw;
    }

    .font--size{
        font-size: 20px;
    }
}
@media (max-width: 425px) {

    .two--fonts{
        padding-top: 5vh;
    }
    .svg--circle{
        max-width: 20vw;
    }
}
@media (max-width: 375px) {
    .font--size{
        font-size: 18px;
    }
}